html, body {
  background: #244;
}

.app {
  text-align: center;
}

.link {
  color: white;
}

.header {
  margin: 0 0 20px 0;
  padding: 20px;
  font-family: 'Chalkduster';
  font-size: 35px;
  color: white;
  background: #222;
}

.header-links {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 15px;
}

.header-link {
  text-decoration: none;
  color: white;
  font-family: arial, 'sans serif';
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 5px;
}

.hl-left {
  float: left;
}

.hl-right {
  float: right;
}

.footer {
  margin: 90px 0 0 0;
  padding: 30px;
  color: #ccc;
  font-size: 12px;
  background: #222;
}

.footer a {
  color: #E66;
  background: #522;
  border-radius: 2px;
  padding: 3px 4px;
  font-size: 12px;
  text-decoration: none;
}

* {
  font-size: 15px;
  letter-spacing: 0.5px;
}

.textarea-container {
  position: relative;
}

textarea, input {
  font-size: 15px;
  border-radius: 3px;
}

textarea:read-only {
  background: #ddd;
}

.transform-details {
  margin: 20px;
  color: white;
}

.input-cell {
  width: 400px;
  min-height: 550px;
  margin: 0;
  padding: 0;
  vertical-align: top;
  display: inline-block;
}

.label {
  margin: 4px;
}

.input-language {
  margin: 10px 0;
}

.transform-btns {
  display: inline-block;
  margin: 30px 0 30px 10px;
}

.transform-btn {
  height: 220px;
  margin: 20px 0;
  display: block;
  width: 30px;
  font-size: 25px;
}

.condition-btn {
  cursor: pointer;
  font-size: 24px;
  background: transparent;
  border: none;
  display: block;
}

.run-spark-btn {
  min-width: 140px;
}

.btn {
  border: 1px solid #448;
  background: #669;
  border-radius: 3px;
  cursor: pointer;
  color: white;
}

.btn:hover {
  background: #77A;
}

.btn:disabled {
  cursor: auto;
  border: 1px solid #444;
  background: #777;
}

.condition {
  display: inline-block;
  vertical-align: top;
  margin: 50px 10px 50px 0;
}

.condition-add-btn {
  font-size: 22px;
  line-height: 25px;
  margin-bottom: 7px;
}

.modal {
  border: 1px solid #448;
  background: #669;
  color: white;
  position: fixed;
}

.condition-modal {
  top: 250px;
  bottom: 250px;
  left: 500px;
  right: 500px;
  min-width: 400px;
  min-height: 250px;
}

.help-modal {
  top: 150px;
  left: 150px;
  right: 150px;
  bottom: 150px;
  font-family: arial, 'sans-serif'
}

.help-modal h2 {
  margin: 50px;
  font-size: 20px;
}

.help-exp {
  font-weight: bold;
  color: #f72;
}

.help-col {
  font-weight: bold;
  color: #7Bf;
}

.help-deb {
  font-weight: bold;
  color: #4C4;
}

.help-body {
  max-width: 800px;
  margin: 20px auto;
  text-align: left;
}

.help-body li {
  list-style-type: none;
  padding: 4px 0;
}

.help-body li:before {
  content: "ⓘ";
  font-size: 16px;
  padding-right: 10px;
}

.condition-modal h3 {
  margin: 20px;
  font-size: 17px;
}

.condition-modal label {
  margin: 10px 0 5px;
  display: block;
}

.condition-modal input {
  width: 250px;
}

.condition-modal .btn {
  margin: 20px;
  line-height: 25px;
  border: 1px solid #448;
  background: #77A;
}

.condition-modal .btn:hover {
  background: #88B;
}

.download-csv-btn {
  padding: 5px 20px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
}

.data-link {
  display: block;
  font-size: 15px;
  color: white;
  margin-top: 15px;
}