html, body {
  background: #244;
}

.app {
  text-align: center;
}

.app-link {
  color: #61dafb;
}

* {
  font-size: 15px;
  letter-spacing: 0.5px;
}

textarea, input {
  font-size: 15px;
  border-radius: 3px;
}

.transform-details {
  margin: 20px;
  color: white;
}

.input-cell {
  width: 400px;
  height: 550px;
  margin: 0;
  padding: 0;
  vertical-align: top;
  display: inline-block;
}

.label {
  margin: 4px;
}

.transform-btns {
  display: inline-block;
  margin: 30px 0 30px 10px;
}

.transform-btn {
  height: 220px;
  margin: 20px 0;
  display: block;
  font-size: 25px;
}